* {
  /* margin: 0; */
  list-style: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:disabled{
  opacity: 0.5;
}

.d-none {
  display: none;
}

.main-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blur-layer {
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.chat-list-item {
  border-bottom: 1px solid #ccc;
}


.chat-messages-bx {
  max-height: calc(100% - 130px);
  overflow-y: auto;
}

.chat-messages-bx::-webkit-scrollbar {
  display: none;
}